* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 91vh;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  flex-flow: column;
  /* background-color: linear-gradient(to bottom, lightblue, darkblue); */
  background-image: url(../imgs/background.png);
  background-size: cover;
}

.display-over-success {
  position: absolute;
  left: 40%;
  top: 20%;
  background-color: #8ee2e187;
  padding: 50px;
  border-radius: 25px;
  text-align: center;
  gap: 15px;
  display: none;
}

.display-over-success .btns {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin-top: 15px;
}

#home,
#play-again {
  color: black;
  cursor: pointer;
  padding: 3px 10px;
  border-radius: 11px;
  font-size: 25px;
  /* color: white; */
}

#home {
  border: 2px solid blue;
}

#play-again {
  border: 2px solid green;
}

#home:hover {
  background-color: blue;
}

#play-again:hover {
  background-color: green;
}

.setting {
  display: flex;
  justify-content: space-between;
  place-items: center;
  padding: 10px 10px 0 10px;
  /* padding: ; */
}

.setting .scores {
  position: relative;
}

.setting .scores .progress {
  width: 300px;
  height: 22px;
  background-color: #9a9a9a;
  border-radius: 15px;
  display: grid;
  grid-template-columns: 100px 100px 100px 5px;
}
#number-score{
  padding-left: 5px;
  font-size: 20px;
  align-self: center;
  font-weight: bold;
}

.bar-level {
  max-width: 100px;
}
#level-1 {
  border-radius: 15px 0px 0px 15px;
}

#level-3 {
  border-radius: 0px 15px 15px 0px;
}

.container-imgs {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  position: absolute;
  top: -2px;
}

.displayInScore {
  width: 30px;
  height: 25px;
}

.setting #pauseAndPlayImg {
  cursor: pointer;
}
.setting #lives {
  margin-right: 10px;
}

#canvas {
  /* background: linear-gradient(to bottom, rgb(39, 141, 175), rgb(5, 5, 58)); */
  background-repeat: no-repeat;
  background-position: center center;
}
